.t-suspend-button {
  position: fixed;
  top: 400px;
  right: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 5px rgba(#000, 0.4);
}

.t-suspend-button img {
  width: 100%;
  height: 100%;
}

.t-suspend-button-animate {
  transition-duration: 0.4s;
}
