.DS_Store
.vscode
.idea
.docusaurus
.trubo

node_modules
build
dist
hel_dist
es
lib
tmp
TIMME.md
package-lock.json
coverage

npm-debug.log*
yarn-debug.log*
turbo-build.log*

helpack/hm-node-user/src/libs
packages/hel-micro-node/src/mod-files/*
packages/hel-micro-node/src/server-mod/proxy-mod/*.js
