.DS_Store
.vscode
.idea
.docusaurus
.trubo

node_modules
build
dist
hel_dist
es
lib
tmp
TIMME.md
package-lock.json
coverage

npm-debug.log*
yarn-debug.log*
turbo-build.log*

packages/hel-micro-node/src/mod-files/*
packages/hel-micro-node/src/server-mod/proxy-mod/*.js
packages/hel-micro-node/test/hel_modules/*
packages/hel-micro-node/test/hel_proxy_modules/*
