# hint: If you want peer dependencies to be automatically installed, uncomment below statement
# auto-install-peers=true

# hint: If you don't want pnpm to fail on peer dependency issues, uncomment below statement
# strict-peer-dependencies=false

registry=https://registry.npmjs.org
